#parallax{
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  z-index:0;
}
#parallax img{
  width:300px;
  border-radius: 15px;
  opacity: 0.8;
}
body{
  overflow: hidden;
  height: 100vh;
}
video{
  z-index: -2;
  top: 40px;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
}
.navbar.navbar-default{
  z-index:2;
}

#parallax li:nth-child(1){
  margin:30vh 0 0 0vw;
}
#parallax li:nth-child(2){
  margin:67vh 0 0 75vw;
}
#parallax li:nth-child(3){
  margin:10vh 0 0 27vw;
}

#parallax li:nth-child(4){
  margin:40vh 0 0 27vw;
}
#parallax li:nth-child(5){
  margin:70vh 0 0 27vw;
}
#parallax li:nth-child(6){
  margin:20vh 0 0 51vw;
}

#parallax li:nth-child(7){
  margin:52vh 0 0 51vw;
}
#parallax li:nth-child(8){
  margin:55vh 0 0 3vw;
}
#parallax li:nth-child(9){
  margin:10vh 0 0 75vw;
}

#parallax li:nth-child(10){
  margin:40vh 0 0 75vw;
}

#parallax h1{
  font-size:1em;
  z-index: 500;
  color: white;
  text-shadow: 2px 2px black;
}
