#footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #3088A6;
    bottom: 0px;
    left: 0px;
    position: absolute;
    padding-top: 20px;
}

#counter {
  color: white;
}

footer p
{
    color: white;
}

#divMapa
{
    width: 100%;
    border-radius: 5px;
    background-color: grey;
    height: 330px;
}

#imgSVK
{
    z-index: 0;
}

#divPuzzle
{
    width: 100%;
    border-radius: 5px;
    background-color: grey;
    padding-left: 20px;
}

#divScore
{
    border-radius: 5px;
    background-color: lightyellow;
    font-family: sans-serif;
    font-size: 16px;
    padding: 20px;
    margin-top: 40px;

}

.inDivScore
{
    margin-top: 10px;
    font-size: 12px;
}

#youWon
{
    margin-top: 10px;
    display: none;
    padding-top: 10px;
}

.drop
{
    position: absolute;
    /*border-style: solid;
    border-width: 1px;*/
}

.drag
{
    /*  border-style: solid;
    border-width: 1px;*/
}

/**************************************/

#imgBA
{
    z-index: 1;
}

#imgTT
{
    z-index: 1;
}
#imgNR
{
    z-index: 1;
}
#imgTN
{
    z-index: 1;
}
#imgBB
{
    z-index: 1;
}
#imgZA
{
    z-index: 1;
}
#imgPO
{
    z-index: 1;
}

#imgKE
{
    z-index: 1;
}


/**************************************/

#divBA
{
    top: 151px;
    left: 31px;

    width: 72px;
    height: 96px;
}

#divTT
{
    top: 111px;
    left: 33px;

    width: 120px;
    height: 180px;
}

#divNR
{
    top: 139px;
    left: 108px;

    width: 150px;
    height: 150px;
}

#divTN
{
    top: 49px;
    left: 77px;

    width: 156px;
    height: 132px;
}

#divBB
{
    top: 104px;
    left: 182px;

    width: 210px;
    height: 138px;
}

#divZA
{
    top: 8px;
    left: 178px;

    width: 168px;
    height: 138px;
}

#divPO
{
    top: 32px;
    left: 320px;

    width: 270px;
    height: 108px;
}

#divKE
{
    top: 97px;
    left: 351px;

    width: 222px;
    height: 102px;
}

.jumbotron{
  padding:0 20px 50px 20px;
}
