.wrapper {
  margin-left: 40px;
  padding: 100px;

}

h2 {
  font: 1.8em/1 Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  font-style: normal;
  color: gray;
}

.init{
  position: relative;
  margin: 5px auto;
}

.droppable {
  height: 270px;
  width: 300px;
  float: left;
  position: relative;
  margin-right: 40px;
    border: 1px solid #4ea5cd;
}

.draggable {
  height: 25px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}

.content{
  width: 300px;
  position: absolute;
  bottom: 0;
}

.bar {
    width : 20px;
    height: 250px;
    background-color: #787878;
    margin: 0 140px;
    position: absolute;
    bottom : 0;
    z-index: -999999;
}

/******************************* Messages *******************************/

.message {
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
              transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
              transparent 75%, transparent);
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 100%;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     position: fixed;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 10s linear infinite;
     z-index : 99999;
}

.info {
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.success {
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3 {
     margin: 0 0 5px 0;
}

.message p {
     margin: 0;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

/******************************* Slider *******************************/


a.trigger{
  position: absolute;
  background: #4ea5cd;
  text-decoration: none;
  font-size: 16px;
  letter-spacing:-1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color:#fff;
  padding:4px 12px 6px 24px;
  font-weight: bold;
  z-index:2;
}

a.trigger.right {
  right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
}
a.trigger:hover {
  background-color: #3b8eb5;
}
a.active.trigger {
  background: #787878;
}

.panel {
  color: #4ea5cd;
  position: absolute;
  display: none;

  width: 250px;
  height: auto;
  z-index:1;
    border: 1px solid #4ea5cd;
}

.panel.right {
  right: 0;
  padding: 20px 50px 20px 30px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
}

.panel p {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
